body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.login-content {
  display: flex;
  height: 100%;
}

.login-half {
  flex: 1;
}

.login-card {
  max-width: 400px;
  margin: 0 auto;
}

.background-half {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ion-img{
  background-repeat:no-repeat;
  object-fit: cover;
  height: 700px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin: 0;
}


.modern-content {
  font-family: 'Poppins', sans-serif;
}

a {
  font-family: 'Lilita One', sans-serif;
  line-height: 2rem;
  text-underline-offset: .375rem;
  font-size: 50px;
  color: rgb(12, 11, 11);
}


ion-card{
  height: 500px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}


ion-button{
  color: rgba(70, 70, 70, 0.747);
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width: 770px) {
  .background-half {
    height: 20vh;
  }
}

@media (max-width: 417px) {
  a{
    font-size: 45px;
  }
}

@media (max-width: 376px) {
  a{
    font-size: 40px;
  }
}