<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Left half with background image -->
      <ion-col size="12" size-md="6">
        <div class="background-half">
          <ion-img src="https://cdn.pixabay.com/photo/2023/05/31/11/15/fish-8031138_960_720.jpg" alt="Background Image"></ion-img>
        </div>
      </ion-col>

      <!-- Right half with reset password form -->
      <ion-col size="12" size-md="6">
        <br><br><br><br>
        <div class="login-half">
          <ion-card class="login-card">
            <ion-card-header>
              <ion-card-title class="ion-text-center">COOKBOOK</ion-card-title><br><div class="fpassword">Forgot your password?</div>
            </ion-card-header>

            <ion-card-content>
              <app-auth-form #resetPasswordForm (formSubmitted)="resetPassword($event)" [actionButtonText]="'Reset Password'" [isPasswordResetPage]="true"></app-auth-form>
              <ion-button  expand="full" fill="clear"    routerLink="/login">
                LOGIN YOUR ACCOUNT</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
