.login-content {
    display: flex;
    height: 100%;
  }
  
  .login-half {
    flex: 1;
  }
  
  .login-card {
    max-width: 400px;
    margin: 0 auto;
    height: 400px;
  }
  
  .background-half {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  ion-img{
    background-repeat:no-repeat;
    object-fit: cover;
    height: 700px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0;
  }
  
  
  .modern-content {
    font-family: 'Poppins', sans-serif;
  }
  
  ion-card-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-underline-offset: .375rem;
    font-size: 50px;
  }
  
  
  ion-card{
    height: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
  }
  
  
  ion-button{
    color: rgba(70, 70, 70, 0.747);
    border-radius: 10px;
    font-weight: bold;
  }
  
  .fpassword{
    text-align: center;
  }